<%-- any content can be specified here e.g.: --%>
<%@ page pageEncoding="UTF-8" %>
<!--Jumbotron-->
<div class="container">
    <div class="jumbotron">
        <h1>DVD Library</h1>
        <p>DVD</p>
    </div>
</div>
